body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Helvetica Neue, sans-serif;
  line-height: 35px;
 
}



h4 {
  font-size: 2.5em;
}

h5 {
  font-size: 2.2rem;
}

p {
  font-size: 1.3em;
}

img {
  padding: 20px;
  margin-left: 8em;
  margin-top:30px;   
  width: 10%;
}

.titolo {
  color: white;
  text-align: center;
}

.titolo h4  {
  font-weight: bold;
  font-size: 3em;
}

.titolo h5 {
  font-size: 27px;
  padding-top: 10px;
}

.correct {
  margin: 150px 150px 0 150px;
  text-align: center;
  color: white;
  align-items: center;
  line-height: 50px;
  text-align: start;
}

.correct.item{
  text-align: right;
  line-height: 57px;
  
}

.correct h4 {
  font-size: 3.5em;
}

.correct h5{
  font-weight: bold;
  font-size: 3.5em;
}

.correct h6{
font-size: 24px;
}

.child {
  background: orange;
  width: 100px;
  height: 100px;
  position: absolute;
  top:50%;
  left: 50%;
  margin: -50px 0 0 -50px; 
}

.container {
  display: inline-flex;
  margin-left: 17em;
}

.button{
  text-align: center;
  margin-top: 55px;
}

.button button{
  padding: 20px 70px;
  background: transparent;
  border: none;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.button button:hover{
  color: #0b113b;
  background-color: #00ffff;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px #00FFFF;
}

/* Inizio Donut*/

.chart-container{
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}
/* Fine Donut*/

/* Inizio FeedBack*/
.hidden{
  display: none;
}

.container-fb-result{
  text-align: center;
  color: white;
  line-height: 50px;
}

.container-fb{
  margin-top: 2.5em;
}

.fb-text{
margin: 40px;
}

.fb-text h4{
  margin: 20px;
  font-weight: bold;
}

.container-star {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.container-star .fb-star input{
  display: none;
}

.fb-star label{
  color: #0e164f;
  transition: all 0.2s ease;
  float: right;
  font-size: 50px;
  padding: 5px;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #00ffff;
}

input:checked ~ label{
  color: #00ffff;
}

input#star-10:checked ~ label{
  color: #fe7;
   text-shadow: 0 0 20px #952;
}

.fd-foo-text{
  margin-top: 4.2em;
}

.fd-foo-text input{
width: 45%;
height: 35px;
background: transparent;
border: none;
border-bottom: 2px solid #c2128d;
color: white;
padding-left: 25px;
outline: 0;
font-size: 1rem;
margin-top: 4em;
}
.fb-sez-button{
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.info a{
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 23px 40px;
  text-align: center;
  font-weight: bold;
}

.info a:hover{
  color: #0b113b;
  background-color: #00ffff;
  border: none;
  box-shadow: 0 0 10px #00FFFF;
}

.button-fb{
  margin-left: 10px;
}

.button-fb button{
  padding: 20px 50px;
  background: transparent;
  border: none;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-weight: bold
}

.button-fb button:hover{
  color: #0b113b;
  background-color: #00ffff;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px #00FFFF;
}

.button-fb button i{
  margin-left: 5px;
}
/* Fine FeedBack*/