@keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 560px;
    }
}

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
  }

  .countdown {
    position: relative;
    margin: auto;
    margin-top: 20px;
    height: 100px;
    width: 50px;
    text-align: center;
  }

  .countdown-number {
    color: white;
    position: absolute;
    font-size: 1.5em;
    top: 40px;
    right:55px;
  }
  .countdown-number span{
    font-size:2em;
    font-weight: bold;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    transform: rotateY(-180deg) rotateZ(-90deg);

  }

  svg circle {
    stroke-dasharray: 560px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 20px;
    stroke: #9b1d8e;
    fill: none;
    animation: countdown 60s linear infinite forwards;
  }
  .white-circle{
    border-radius: 50%;
    border: 18px solid rgba(255,255,255,0.8);
    width:162px; 
    height: 162px;
    position: absolute;
    right: 2px;
    top:1px;
    z-index: -1;
  }